<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="icon" href="{{asset('img/icon.png')  }}">
        {# Feuilles de styles #}

        <link rel="stylesheet" href="{{ asset('asset/css/bootstrap.min.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('asset/css/styles.css') }}">

        {# Fichiers JS #}
        <script src="{{ asset('js/bootstrap.bundle.min.js') }}" defer></script>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('js/scripts.js') }}" defer></script>
    </head>
    <body>
        {% block body %}


        {% endblock %}
    </body>
</html>
